h1, h2, h3, h4, p, li, span, a {
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 0 1em;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0), url("/images/circles.png");
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease;
}

a {
  text-decoration: none;
  color: #c248c0;
  transition: 0.2s;
}
a:hover {
  text-decoration: underline;
}
a.button {
  background-color: #c248c0;
  padding: 0.5em 0.7em;
  color: white;
  display: block;
  width: fit-content;
  border-radius: 0.3em;
}
a.button:hover {
  text-decoration: none;
  background-color: #d3d3ff;
  color: #5c609e;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header #socials {
  margin: auto 0 auto auto;
}
header img {
  max-width: 3em;
  margin: 0.3em;
}
header img#propic {
  max-width: 5em;
  border-radius: 100%;
}

nav {
  background-color: #5c609e;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.464);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
nav i.material-icons {
  font-size: 2.5em;
  transition: 0.2s;
  display: block;
  margin: auto 0.5em;
  width: fit-content;
  height: fit-content;
  color: white;
}
nav i.material-icons:hover {
  cursor: pointer;
  color: #c248c0;
}
nav ul {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style-type: none;
  padding: 1em 0;
}
nav ul li a {
  color: white;
  padding: 1em;
}
nav ul li a:hover {
  text-decoration: none;
  background-color: #d3d3ff;
  color: #5c609e;
}

footer {
  background-color: #7272da;
  padding: 2em;
}
footer p {
  color: white;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

#portfolio-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: fit-content;
  gap: 2em;
}

.card {
  background-color: white;
  box-shadow: 0 0 0.5em gray;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
  margin: 2em;
  max-width: 20em;
}
.card img {
  max-width: 100%;
  overflow: hidden;
}
.card .name {
  font-size: 1.5em;
  margin: 0.5em auto;
  display: block;
  width: fit-content;
}
.card .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card .links a {
  margin: 0.3em;
}
.card .github {
  background-color: #5c609e;
}

#aboutme {
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
  gap: 2em;
  justify-content: center;
  margin: 2em auto;
}
#aboutme img {
  width: 100%;
  max-width: 18em;
  height: 100%;
  border-radius: 1em;
}
#aboutme div {
  max-width: 28em;
}
#aboutme ~ .button {
  margin: 3em auto;
}
#aboutme ~ img {
  margin: 5em auto 3em;
  display: block;
  box-shadow: 0 0 0.5em gray;
  max-width: 100%;
  border-radius: 1em;
}

body {
  background-color: white;
  transition: 0.5s;
}
body.dark {
  background-color: black;
}
body.dark p, body.dark span, body.dark h1, body.dark h2, body.dark h3, body.dark h4 {
  color: white;
}
body.dark main {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) 0), url("/images/circles.png");
  background-size: cover;
  background-position: center;
}
body.dark .card {
  background-color: rgb(43, 43, 43);
}

/*# sourceMappingURL=style.css.map */
