$primary-color: #5c609e;
$secondary-color: #7272da;
$tertiary-color: #d3d3ff;
$accent-color: #c248c0;

h1, h2, h3, h4, p, li, span, a {
    font-family: 'Poppins', sans-serif;
}

html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 0 1em;
    background-image: url('/images/circles.png');
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: $accent-color;

    transition: .2s;
    
    &:hover {
        text-decoration: underline;
    }

    &.button {
        background-color: $accent-color;
        padding: .5em .7em;
        color: white;

        display: block;
        width: fit-content;

        border-radius: .3em;

        &:hover {
            text-decoration: none;
            background-color: $tertiary-color;
            color: $primary-color;
        }
    }
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    #socials {
        margin: auto 0 auto auto;
    }
    img {
        max-width: 3em;
        margin: .3em;

        &#propic {
            max-width: 5em;
            border-radius: 100%;
        }
    }
}

nav {
    background-color: $primary-color;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;

    ul {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            padding: 1em 0;

            a {
                color: white;
                padding: 1em;

                &:hover {
                    text-decoration: none;
                    background-color: $tertiary-color;
                    color: $primary-color;
                }
            }
        }
    }
}

footer {
    background-color: $secondary-color;
    padding: 2em;

    p {
        color: white;
        display: block;
        margin: 0 auto;
        width: fit-content;
    }
}

#portfolio-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: fit-content;
    gap: 2em;
}

.card {
    img {
        max-width: 100%;
        overflow: hidden;
    }

    .name {
        font-size: 1.5em;
        margin: .5em auto;
        display: block;
        width: fit-content;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            margin: .3em;
        }
    }

    .github {
        background-color: $primary-color;
    }

    background-color: white;
    box-shadow: 0 0 .5em gray;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin: 2em;

    max-width: 20em;
}

#aboutme {
    display: flex;
    flex-wrap: wrap;
    max-width: 50em;
    gap: 2em;
    justify-content: center;
    margin: 2em auto;

    img {
        width: 100%;
        max-width: 18em;
        height: 100%;
        border-radius: 1em;
    }

    div {
        max-width: 28em;
    }

    & ~ .button {
        margin: 3em auto;
    }

    & ~ img {
        margin: 5em auto 3em;
        display: block;
        box-shadow: 0 0 .5em gray;
        max-width: 100%;
        border-radius: 1em;
    }
}