<!DOCTYPE html>
<html id="changeTheme" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../scripts/main.js" type="module"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="light">
    <header>
    </header>
    <nav>
    </nav>
    <main>
        <div id="portfolio-container"></div>
    </main>
    <footer>
    </footer>
</body>
</html>